---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const blogCollections = await getCollection("blog");

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      blogCollections.map((blogCollection) => (
        <li>
          <a href={`/blog/${blogCollection.slug}`}>
            <p>{blogCollection.data.title}</p>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
