main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

main > nav {
  flex: 0 0 25%;
}

main > nav > ul {
  left: 50%;
}

main > div {
  flex: 0 1 75%;
}

h1 {
  padding: 36px 4px 14px;
}

h2 {
  padding: 24px 4px 12px;
}

h3 {
  padding: 12px 4px 10px;
}
