/* reset: */
/* reset; */

/* default: */
html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  font-size: 0.26666666666666666vw;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 14px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

code {
  background-color: gainsboro;
}

@media screen and (min-width: 636px) {
  html {
    font-size: 65%;
  }
}
/* default; */

/* Navigation: */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: static;
    display: block;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 5px;
  }
}
/* Navigation; */

/* Hamburger: */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
}
/* Hamburger; */