---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("blog");
const tagsSet = new Set();

posts.forEach((post) => {
  if (post.data.tags) {
    post.data.tags.forEach((tag) => tagsSet.add(tag));
  }
});

const tags = Array.from(tagsSet);

const pageTitle = "Tag";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {tags.map((tag) => <li key={tag}>{tag}</li>)}
  </ul>
</BaseLayout>
