---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "TOP";

const mainColor = "blue";
---

<BaseLayout pageTitle={pageTitle} mainColor={mainColor}>
  <h2>これがslot置いたところに出力される</h2>
</BaseLayout>
