---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "TOP";

const mainColor = "blue";
---

<BaseLayout pageTitle={pageTitle} mainColor={mainColor}>
  <h1>{pageTitle}</h1>
</BaseLayout>
