---
const { blogList } = Astro.props;
---

<ul class="blogs">
  {
    blogList.map((blogItem) => (
      <li>
        <a href={`/blog/${blogItem.slug}`}>
          <p>{blogItem.data.title}</p>
        </a>
      </li>
    ))
  }
</ul>
