---
import Navs from "./Navs.astro";

const { pageTitle } = Astro.props;
---

<header class="header">
  <h1 class="title">{pageTitle}</h1>
  <Navs />
</header>

<style>
  .header {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    width: 100%;
    max-width: 1200px;
    padding: 12px 14px;
    margin: 0 auto;
    background: #fff;
    box-shadow:
      0px 1px 1px 0px rgba(30, 33, 33, 0.25),
      0px 0px 0px 1px rgba(0, 0, 0, 8%);
  }

  .title {
    flex: 0 0 75%;
  }
</style>
