---
import Navs from "./Navs.astro";

const { pageTitle } = Astro.props;
---

<header class="header">
  <h1 class="title">{pageTitle}</h1>
  <Navs />
</header>

<style>
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px 14px;
    margin: 0 auto;
    background: #fff;
  }

  .title {
    flex: 0 0 75%;
  }

  nav {
    flex: 0 1 25%;
  }
</style>
