---
const currentPath = Astro.url.pathname;
const firstPath = currentPath.split("/")[1];
---

<nav>
  <ul class="navs">
    <li class="nav"><a class={`nav-link ${firstPath === "" ? "active" : ""}`} href="/">Home</a></li>
    <li class="nav"><a class={`nav-link ${firstPath === "about" ? "active" : ""}`} href="/about/">About</a></li>
    <li class="nav"><a class={`nav-link ${firstPath === "blog" ? "active" : ""}`} href="/blog/">Blog</a></li>
  </ul>
</nav>

<style>
  .navs {
    display: flex;
    gap: 12px;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
  }

  .nav {
    flex: 1;
    text-align: center;
  }

  .nav-link {
    padding: 16px 8px;
    color: rgb(0 0 0 / 87%);
    font-size: 14px;
    text-decoration: none;
  }

  .nav-link.active {
    position: relative;
  }

  .nav-link.active::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    left: 0px;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background-color: #000;
  }
</style>
