---
const currentPath = Astro.url.pathname;
const firstPath = currentPath.split("/")[1];
---

<nav>
  <ul class="navs">
    <li class="nav"><a class={`nav-link ${firstPath === "" ? "active" : ""}`} href="/">Home</a></li>
    <li class="nav"><a class={`nav-link ${firstPath === "about" ? "active" : ""}`} href="/about/">About</a></li>
    <li class="nav"><a class={`nav-link ${firstPath === "blog" ? "active" : ""}`} href="/blog/">Blog</a></li>
  </ul>
</nav>

<style>
  .navs {
    display: flex;
    gap: 12px;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
  }

  .nav {
  }

  .nav-link {
    padding: 6px 2px 3px;
    color: rgb(0 0 0 / 87%);
    font-size: 14px;
    text-decoration: none;
  }

  .nav-link.active {
    border-bottom: 1px solid #000;
  }
</style>
