---

---

<nav>
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="/blog/tag/">Tag</a></li>
  </ul>
</nav>

<style>
  .nav-list {
    display: flex;
    justify-content: center;
    gap: 0 20px;
  }
</style>
