---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    color: #000;
    text-decoration: none;
    padding: 40px 0;
  }
</style>
