---
const { tags } = Astro.props;
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li class="tag">
        <a class="tag-link" href={`/blog/tag/${tag}`}>
          {tag}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .tag {
    border-radius: 4px;
    background-color: #edeeee;
  }

  .tag-link {
    padding: 0px 6px;
    color: rgb(0 0 0 / 60%);
    font-size: 14px;
    text-decoration: none;
  }
</style>
