---
const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 4);
const updateHeadings = filteredHeadings.map((heading) => {
  const className = heading.depth >= 2 ? `depth-${heading.depth}` : "";
  return {
    ...heading,
    class: className,
  };
});
---

<ul class="tocs">
  {
    updateHeadings.map((heading) => (
      <li class={`${heading.class} toc`}>
        <a class="toc-link" href={`#${heading.slug}`}>
          {heading.text}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .tocs {
    position: sticky;
    height: 600px;
    overflow: scroll;
    list-style-type: none;
    padding-left: 0;
  }

  .toc:hover .toc-link {
    font-weight: bold;
  }

  .toc-link {
    word-break: break-all;
    color: rgb(0 0 0 / 60%);
    font-size: 14px;
    text-decoration: none;
  }

  .depth-3 {
    margin: 0 0 0 10px;
  }
  .depth-4 {
    margin: 0 0 0 20px;
  }
</style>
