main {
  display: flex;
  gap: 0 20px;
}

h2 {
  border-bottom: 1px solid rgb(0 0 0 / 12%);
  padding: 0 0 4px;
  margin: 56px 0 16px;
  font-size: 26px;
  line-height: 1.4;
}

h3 {
  margin: 40px 0 16px;
  font-size: 22px;
}

h4 {
  margin: 20px 0 8px;
  font-size: 18px;
}

hr {
  margin: 16px 0;
}

ul {
  padding-left: 1em;
}

ul,
ul ul ul ul ul{
  list-style-type: disc;
}

ul ul ul,
ul ul ul ul ul ul ul {
  list-style-type: square;
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ol ul {
  list-style-type: circle; 
}

ol {
  padding-left: 2.2rem;
}

code {
  background-color: rgba(0, 0, 0, 0.08);
}

.blog {
  flex: 0 0 75%;
}

.blog-contents {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 56px;
  margin: 20px 0 0;
}

.sidebar {
  flex: 0 1 25%;
}

.blog-data {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 56px;
}

.blog-data-title {
  margin: 0 0 14px;
}

.blog-data-date {
  margin: 8px 0 0;
}

.blog-data-update {
  margin: 4px 0 0;
}

.l-tags {
  margin: 12px 0 0;
}

.blog-contents > *:first-child {
  margin-top: 0;
}