---
import "../styles/global.css";

const { pageTitle, pageDescription, mainColor } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body>
    <slot />
    <script>
      import "../script/global.js";
    </script>
  </body>
</html>

<style define:vars={{ mainColor }}>
  h1 {
    color: var(--mainColor);
  }
</style>
