---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Toc from "../components/Toc.astro";
import TagList from "../components/TagList.astro";
import "../styles/blog.css";
const { blog, headings } = Astro.props;
---

<BaseLayout>
  <Header pageTitle={blog.title} />
  <main class="main">
    <div class="contents">
      <p class="date">投稿日: {blog.date.toISOString().slice(0, 10)}</p>
      {blog.update && <p class="date">更新日: {blog.update.toISOString().slice(0, 10)}</p>}
      <TagList tags={blog.tags} />
      <slot />
    </div>
    <div class="sidebar">
      <Toc headings={headings} />
    </div>
  </main>
  <Footer />

  <style>
    .contents {
      flex: 0 0 75%;
    }

    .sidebar {
      flex: 0 1 25%;
      justify-items: center;
    }
  </style>

  <script>
    import "../script/blog.js";
  </script>
</BaseLayout>
