---
import BaseLayout from "./BaseLayout.astro";
import TagItem from "../components/TagItem.astro";
const { date, title, description, tags } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <p><em>{description}</em></p>
  <p>{date.toISOString().slice(0, 10)}</p>
  <ul class="tags">
    <TagItem tags={tags} />
  </ul>
  <slot />
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
</style>
