---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Toc from "../components/Toc.astro";
import Tags from "../components/Tags.astro";
import "../styles/blog.css";
const { blog, headings } = Astro.props;
---

<BaseLayout>
  <Header pageTitle={blog.data.title} />
  <main class="main">
    <div class="contents">
      <Tags tags={blog.data.tags} />
      <p class="blog-date">投稿日: {blog.data.date.toISOString().slice(0, 10)}</p>
      {blog.data.update && <p class="blog-update">更新日: {blog.data.update.toISOString().slice(0, 10)}</p>}
      <slot />
    </div>
    <div class="sidebar">
      <Toc headings={headings} />
    </div>
  </main>
  <Footer />

  <script>
    import "../script/blog.js";
  </script>
</BaseLayout>
