---
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/TagList.astro";
const { date, title, description, tags } = Astro.props;
---

<BaseLayout pageTitle={title}>
  <p><em>{description}</em></p>
  <p>{date.toISOString().slice(0, 10)}</p>
  <TagList tags={tags} />
  <slot />
</BaseLayout>
